---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
// - UI
import Feature from '../components/blocks/features/REFeatureList.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'
import CTA from '../components/blocks/CTA/REBasicDark.astro'

// Data
import featuresData from '../data/json-files/REfeaturesData.json'


// Content
// - SEO
const SEO = {
	title: 'Twin Pillars | Your One-Stop Valuation Partners',
	description:
		'Skilled valuation professionals unlocking asset value to drive business growth'
}

// - Page Header
const header = {
	title: '<strong>Real Estate Valuation</strong>',
	text: 'Unlocking the True Value of Your Real Estate Assets'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<Section id="features">
		<Row>
			<Col span="12" align="center" classes="mb-12 max-w-6xl mx-auto">
				<div class="text-lg space-y-16">
					<div>
						<h3 class="text-xl font-semibold mb-3">Professional Property Valuation</h3>
							<p>
								At Twin Pillars, we assist in transforming the complex world of real estate into clear, actionable insights. Our affiliates' core expertise lies in real estate appraisal, property valuation, and land valuation – the meticulous process of developing a professional opinion of value for your real property. Typically, we determine the Market Value (MV), providing a robust assessment of your asset's worth in a competitive market. For unique situations, such as distressed cases, we also ascertain the Liquidation Value (LV).
							</p>
							</div>
							<div>
								<h3 class="text-xl font-semibold">Collaborative Expertise Network</h3>
								<p>
									We understand that real estate is inherently local. For properties in remote or specialized locations, our strength lies in our collaborative approach. We seamlessly integrate with our trusted affiliates, leveraging their invaluable local knowledge, information, data. This collaborative synergy ensures our analysis is comprehensive and our valuation opinions are precise, no matter the geography.
								</p>
					</div>
				</div>
			</Col>
		</Row>
	</Section>
	<Feature />
	<CTA />
</Layout>
